@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
    background: url('img/haikei.JPG') center center / cover no-repeat fixed;
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 1.2em;

    header {
        color: white;
        padding: 0 40px;
    }

    main {
        margin: 0 100px;

        section {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px 60px;
            border-radius: 5px;
            margin-bottom: 30px;
        }

        #profile {
            
            img {
                float: left;
                margin-right: 20px;
                margin-bottom: 120px;
                width: 200px;
            }
            .profiles {

                .profile {
                    margin: 10px 0;
                    .eduback {
                        margin-bottom: 1em;
                    }
                    h4, p {
                        margin: 0;
                    }
                }
            }
        }
        #portfolio {

            

            h3 {
                border-bottom: 1px solid #aaa;
                clear: both;
            }
            .content {
                h4 {
                    clear: both;
                }
                img {
                    width: 250px;
                    border: 1px solid #aaa;
                    float: left;
                    margin-bottom: 50px;
                    margin-right: 20px;

                }
                .description{
                    margin: 0px;
                    text-align: left;
                    margin-bottom: 80px;
                    p {
                        text-align: left;
                        margin: 1em 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 1em;
        header {
            text-align: center;
        }
        main {
            margin: 0 10px;
            section {
                padding: 10px 20px;
            }
            #profile {
                .img {
                    float: none;
                    display: block;
                    margin: 0 auto;
                    width: 150px;
                }
            }
            #portfolio {
                .content {
                    img {
                        float: none;
                        display: block;
                        margin: 0 auto;
                        width: 180px;
                    }
                    .description {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}